<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  	<meta property="og:title" content="{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  	<meta property="og:site_name" content="{{ .Site.Title }}" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    
    {{ if .IsPage }}
  	<meta property="og:type" content="article" />

    <meta property="og:article:published_time" content="{{ .Date.Format "2018-01-02T15:04:05Z07:00" | safeHTML }}" />

    {{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}" />
    {{ end }}
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}

  <title>
    {{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>

    <meta name="description" content="{{ .Site.Params.description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{.Site.BaseURL}}images/favicon.ico">
	  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/banner_logo.png" />
    
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Inconsolata" />


    {{ if .Site.Params.RSSLink }}
        <link href="{{ .Site.Params.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{else}}
      {{ if ne .RelPermalink "/" }}
          <link href="{{ .Site.BaseURL }}feed.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      {{ end }}
      {{if .IsNode}}
        <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
      {{end}}
    {{end}}
    {{hugo.Generator}}

    <link rel="canonical" href="{{ .Permalink }}" />

    {{with  .Site.Params.googleAnalyticsUserID }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{.}}', 'auto');
      ga('send', 'pageview');

    </script>
    {{end}} 
</head>
<body class="nav-closed">
<div id="particles-js"></div>
  {{ partial "navigation.html" . }}

 <div class="site-wrapper">
